.wholeCont{
    width: 100%;
    height: 100%;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.contTitle{
    width: 90%;
    height: 6vh;
    font-size: 1rem;
    color: rgb( 0 , 96 , 72);
    border-radius: 12px;
    border-bottom: 2px solid #ffffff;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.optionsCont{
    width: 80%;
    height: 70%;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.eachOptionCont{
    width: 100%;
    height: 2rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.eachOption{
    font-size: 1rem;
    color: #ffffff;
    margin: 1vh;
    white-space: nowrap;
}

.eachOptionCont:hover{
    background: rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: inset 0px 0px 14px 1px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0px 0px 14px 1px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0px 0px 14px 1px rgba(255, 255, 255, 0.25);
}

.eachOptionCont:active .eachOption{
    font-size: 0.8rem;
}