.wholeCont{
    width: 100%;
    min-height: 100vh;
    padding-top: 12.5vh;
    padding-bottom: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.contentCont{
    position: relative;
    width: 95%;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.blogsCont{
    width: 75%;
    min-height: 100vh;
}

.trendingBlogsTitle{
    font-size: 2rem;
    font-weight: 500;
    color: #6d6d6d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 2vh;
}

.recommendedBlogsCont{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.eachRecommendedBlog{
    width: 100%;
    height: 20vh;
    margin: 1vh;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid black;
    overflow-y: hidden;
}
.eachRecommendedBlog:hover .eachRecommendedBlogTitle {
    border-bottom: 2px solid #6d6d6d;
}

.eachRecommendedBlogImgCont {
    width: 25%;
    height: 100%;
    border: 12px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eachRecommendedBlogImg{
    width: auto;
    max-width: 100%;
    height: 100%;
    border-radius: 12px;
}

.eachRecommendedBlogContent{
    width: 75%;
    height: 100%;
    padding: 1.5vh 1vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.eachRecommendedBlogTitle{
    width: max-content;
    height: 6vh;
    margin: 0;
    font-size: 1.25rem;
    color: #6d6d6d;
}

.eachRecommendedBlogDesc{
    width: 100%;
    height: 14vh;
    margin: 0;
    color: #0505056c;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

.rightCont{
    width: 23%;
    min-height: 100vh;
    top: 0vh;
    right: 1%;
    margin-left: 1%;
    margin-top: 20vh;
    border-radius: 12px;
    border: 1px solid #6c6c6c;
}

@media screen and (max-width : 750px) {
    .wholeCont {
        width: 100%;
        padding-top: 10vh;
    }
    .blogsCont{
        width: 95%;
    }
    .rightCont{
        display: none;
    }
}

@media screen and (max-width : 450px) {
    .eachRecommendedBlog{
        height: 15vh;
    }
}

@media screen and (max-width : 425px) {
    .contentCont {
        width: 100%;
    }
}