.wholeCont {
    position: fixed;
    width: 60vh;
    height: 6vh;
    right: 10vh;
    border-radius: 25px;
    background-color: #00604d5e;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6c6c6c;
}

.wholeContSelected{
    position: absolute;
    width: 60vh;
    height: 6vh;
    right: 10vh;
    top: 2vh;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: openSearchModal 0.5s forwards linear;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.75);
    color: #6c6c6c;
}

.searchCont{
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6c6c6c;
}

.searchBox {
    width: 54vh;
    height: 100%;
    text-indent: 5vh;
    background-color: transparent;
    color: #ffffff;
    border-radius: 25px;
    border: none;
    outline: none;
}

.searchBoxSelected {
    width: 54vh;
    height: 100%;
    text-indent: 1vh;
    color: #6c6c6c;
    font-size: 1rem;
    background-color: transparent;
    border-radius: 25px;
    border: none;
    outline: none;
    animation: extendInputBox 0.75s forwards linear;
}

.searchIcon {
    width: 4.5vh;
    height: auto;
    cursor: pointer;
}

.searchIcon:active {
    width: 4vh;
    height: auto;
}

.searchModal{
    width: 90%;
    min-height: 40vh;
    max-height: 65vh;
    border-top: 1px solid #6c6c6c;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.searchResultModals {
    width: 50%;
    min-height: 40vh;
    max-height: 65vh;
    padding: 1vh;
}

.searchModalTitles{
    width: max-content;
    font-size: 0.75rem;
    color: #6c6c6c;
    margin: 2vh 0 1vh 0 ;
    border-bottom: 1px solid #6c6c6c;
}

.searchScrollingBox{
    width: 100%;
    /* min-height: 10vh; */
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: scroll;
}
.searchScrollingBox::-webkit-scrollbar {
    width: 5px;
    height: 45vh;
}

.searchScrollingBox::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #00604d91;
    border-radius: 10px;
}

.searchScrollingBox::-webkit-scrollbar-thumb {
    background: #00604d91;
    border-radius: 12px;
}

.searchScrollingBox::-webkit-scrollbar-thumb:hover {
    background: #e7e7e7;
}

.searchScrollingNovelBox {
    width: 100%;
    /* min-height: 10vh; */
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: hidden;
}

.hoveredStoryTopCont {
    width: 100%;
    height: 25vh;
    border-radius: 12px;
    border: 1px solid rgb(187, 187, 187);
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hoveredStoryPoster {
    height: 100%;
    width: auto;
    max-width: 35%;
    overflow-x: hidden;
}

.hoveredStoryTopRightCont {
    width: 60% ;
    height: 100%;
    border-radius: 12px;
    margin: 0 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* gap: 1vh; */
}

.hoveredStoryTitle {
    font-size: 1rem;
    margin: 0;
}

.hoveredStoryWriterId {
    font-size: 1rem;
    margin: 0;
}

.hoveredStoryWriterId:hover {
    color: rgb(67, 179, 179);
}

.hoveredStoryDesc {
    width: 100%;
    max-height: 45vh;
    /* max-height: 0vh; */
    font-size: 0.85rem;
    color: #6c6c6c;
    /* border: 1px solid green; */
    overflow-y: scroll;
    margin: 0;
}

.hoveredStoryDesc::-webkit-scrollbar {
    width: 5px;
    height: 45vh;
}

.hoveredStoryDesc::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #00604d91;
    border-radius: 10px;
}

.hoveredStoryDesc::-webkit-scrollbar-thumb {
    background: #00604d91;
    border-radius: 12px;
}

.hoveredStoryDesc::-webkit-scrollbar-thumb:hover {
    background: #e7e7e7;
}

.searchScrollingBoxRightBottom {
    height: 15vh;
}

.eachChapterResultBox {
    width: 100%;
    height: 10vh;
    padding: 1vh;
    border-radius: 12px;
    cursor: pointer;
}
.eachChapterResultBoxHovered {
    background-color: #e7e7e7;
}

.eachChapterResultTitle {
    font-size: 1.25rem;
    color: #6c6c6c;
    margin: 0;
}

.eachSearchResultBox {
    width: 100%;
    min-height: 5vh;
    margin: 0;
    border-radius: 12px;
    cursor: pointer;
    padding: 0 1vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.eachSearchResultBox:hover{
    background-color: #e7e7e7;
}
.eachSearchResultBox:hover .eachSearchResult {
    font-size: 0.8rem;
}

.trendingIconImg{
    width: 1.5vh;
    height: 1.5vh;
    margin: 0 1vh 0 0;
}

.eachSearchResult{
    color: #6c6c6c;
    font-size: 0.75rem;
    /* text-indent: 1vh; */
    margin: 0;
}

@keyframes openSearchModal {
    0% {
        width: 60vh;
        height: 6vh;
    }

    100% {
        width: 80%;
        height: 75vh;
    }
}

@keyframes extendInputBox {
    0% {
        width: 60vh;
    }
    100% {
        width: 85%;
    }
}

@media screen and (max-width : 900px) {
    .wholeCont {
        width: 30vh;
    }
    .searchBox {
        width: 24vh;
    }
}

@media screen and (max-width : 700px){
    .searchBoxSelected{
        color: black;
    }
}

@media screen and (max-width : 500px) {
    .nameCont {
        width: max-content;
        padding: 0 2vh;
    }
    .wholeCont {
        width: 10vh;
        justify-content: center;
    }
    .searchBox {
        display: none;
    }
    .searchModal{
        border-top: 1px solid #000000;
    }
}

@media screen and (max-width : 450px) {

}

@media screen and (max-width : 400px) {
    .wholeContSelected {
        right: 2vh;
    }
    .wholeCont {
        right: 2vh;
    }
}