.wholeCont{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 255, 255, 0.5);
    z-index: 1002;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalCont{
    width: 60vh;
    height: 70vh;
    background-color: #ffffff;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10vh 0;
}

.inputBox{
    width: 80%;
    height: 6vh;
    font-size: 0.75rem;
    text-indent: 1vh;
    margin-bottom: 2vh;
    color: #6c6c6c;
    border-radius: 5px;
    border: 1.5px solid #6c6c6c;
    background-color: transparent;
    outline: none;
}

.forgotCont{
    width: 80%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkBoxCont{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.rememberMeCheckBox{
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    border: 1px solid #6c6c6c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tickImg{
    width: 2vh;
    height: 2vh;
    margin: 0;
}

.rememberMeText{
    font-size: 0.75rem;
    color: #6c6c6c;
    text-indent: 1vh;
    user-select: none;
    white-space: nowrap;
    margin: 0;
}

.forgotPassText{
    font-size: 0.75rem;
    font-weight: 600;
    color: rgba(59 ,113, 202, 0.8);
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    margin: 0;
}
.forgotPassText:active{
    opacity: 0.8;
}

.submitBtn{
    width: 80%;
    height: 5vh;
    color: #ffffff;
    border-radius: 5px;
    background-color: #3b71ca;
    cursor: pointer;
    border: none;
    margin-bottom: 2vh;
}

.submitBtn:active{
    background-color: rgba(59 ,113, 202, 0.8);
}

@media screen and (max-width : 450px) {
    .modalCont{
        width: 50vh;
    }
}