.theBody {
    width: 100%;
    height: 100vh;
}

/* width */
.theBody::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.theBody::-webkit-scrollbar-track {
    background: #c9fff4;
}

/* Handle */
.theBody::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background: #00705a;
}

/* Handle on hover */
.theBody::-webkit-scrollbar-thumb:hover {
    background: #1faa49;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.layoutCont{
    width: calc(100% - 8vh);
    margin-left: 8vh;
    min-height: 100vh;
    left: 8vh;
    top: 10vh;
    display: flex;
    flex-direction: column;
}